# Ignore .DS_Store files
*.DS_Store

# Ignore files starting with zzz_
zzz_*

**/.ipynb_checkpoints
**/*.pyc

**/__pycache__
**/log
**/params/**
**/sitl/params/parameters_*
**/parameters_*

**/*.bag
**/*.mp4
**/*.avi
**/*.mov

**/*.pt

**/gurobi.log

**/.vscode

**/venvs/**
**/venv/**

**/client/html/ssl/ca.*
**/ssl/ca.*

# Ignore user-specific versions of python client:
**/client/scripts/client_*.py
