<?xml version="1.0"?>
<model>
  <name>room_427_shell</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>IE-482-582</name>
    <email>none</email>
  </author>
  <description>
    Reusable Room 427 shell model containing floor, walls, windows, doors, and connected 3-box section.
  </description>
</model>
