<?xml version="1.0"?>
<model>
  <name>aruco_tag_whiteboard</name>
  <version>1.0</version>
  <sdf version="1.10">aruco_tag_whiteboard.sdf</sdf>
  <author>
    <name>Liwen Zhang</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    Small whiteboard with an Aruco / AprilTag marker texture on the front face.
  </description>
</model>